@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply px-5 mx-auto lg:px-0;
}

.active-navlink {
	@apply font-bold text-primary;
}

.navbar-social-link {
	@apply text-lg bg-transparent border-transparent rounded-full btn btn-sm text-primary hover:border-primary hover:bg-transparent;
}

.benefits-card {
	@apply flex flex-col items-center justify-center p-5 duration-150 gap-y-2;
	& > i {
		@apply text-2xl duration-150 text-secondary;
	}

	&:hover {
		@apply text-white cursor-pointer bg-primary;
		& > i {
			@apply text-white;
		}
	}
}

.read-more-btn {
	@apply relative px-10 py-2 overflow-hidden text-lg cursor-pointer text-primary;

	&::after {
		content: '';
		@apply absolute top-0 left-0 w-[100%] h-full bg-primary z-[-1] translate-x-[-99%] duration-150;
	}

	&:hover {
		@apply text-white;
		&::after {
			@apply translate-x-0 rounded-e-xl;
		}
	}
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 700ms ease-in-out;
}

.slide-indicator {
	@apply w-2 h-2 duration-150 border rounded-full cursor-pointer hover:bg-accent bg-[#9B9B9B];
}

.active-indicator {
	@apply w-4 h-4 bg-[#E32846];
}

.change-position {
	@apply translate-y-[-200%] text-[#499AFA] text-sm;
}

.project-img {
	&::after {
		content: '';
		@apply absolute h-full w-2 border border-primary top-[5%] left-[-2%] z-[-1] border-r-0;
	}
}

.active-tab {
	@apply text-black border-b-2 border-primary;
}

.blog {
	&:hover {
		.blog-name {
			@apply text-primary;
		}
	}
}

.gallery-img {
	@apply cursor-pointer;
	&:hover {
		.gallery-img-link {
			opacity: 1;
		}
	}
}
